img{
    width: 200px;
    height: 200px;
    float:none;
}
.copy_right_footer 
{
    position: fixed;
    color: #de0a9e;
    bottom: 0;
    width: 100%;
    background-color: #f2dfee;
    line-height: 3;
    text-align: center;
    font-family: 'Special Elite', cursive; 
 }

 ol h5
 {
     background: rgb(111, 120, 220);
     padding: 13px;
     border-radius: 20px;
 }

 span
 {
     color: rgb(70, 11, 233);
     font-size: 16px;
 }	

 li img
 {
     border-radius: 20px;
 }

 .bob
 {
     background: #3b67c7;
     padding: 30px;
     border-radius: 20px;
     margin-top: 50px;
     box-shadow: 5px 5px 18px rgb(3, 133, 180);
 }

 b
 {
     color: rgb(10, 110, 255);
 }
 
 .bob3
 {
     text-align: center;
     color: rgb(79, 111, 217);
 }
 
 .result
 {
     box-shadow: 5px 5px 18px rgb(1, 107, 255);
     letter-spacing: 2px;
     background: #F2BAC9;
     border-radius: 20px;
     margin-top:30px;
     padding: 20px;
     border:2px solid rgb(1, 107, 255)
 }
 h4{
    color: white;
 }